
<div class="container" class=" ml-auto mt-5">
    <mat-card *ngFor = "let survey of surveyList">
        <a mat-mini-fab color ="primary" class = "float-right" [routerLink] = "['/edit', survey._id]">
        <mat-icon>edit</mat-icon></a>
        <button mat-mini-fab color="warn" class=" float-right" (click)="deleteSurvey(survey)">
            <mat-icon>delete</mat-icon></button><br>
        <mat-card-title>{{survey.surveyName}}</mat-card-title>
        <mat-radio-button>{{survey.option1}}</mat-radio-button><br>
        <mat-radio-button>{{survey.option2}}</mat-radio-button>
    </mat-card>
    <button mat-raised-button color = "primary" routerLink = "/add">Add</button>


</div>
